<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <link href="style.css" rel="stylesheet" type="text/css">
  <title>Login</title>
</head>

<body>


  <div id="app">
    <!-- LOGIN -->
    <div class="container" v-if="watch==1">
      <form class="form mt-4">
        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Usuario</label>
          <div class="col-sm-10">
            <input v-model="username" type="text" class="form-control" id="inputEmail3">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Contraseña</label>
          <div class="col-sm-10">
            <input v-model="password" type="password" class="form-control" id="inputPassword3">
          </div>
        </div>
      </form>
      <button @click="login" type="submit" class="btn btn-primary">Ingresar</button>
    </div>
    <!-- /LOGIN -->

    <!-- PAGE -->
    <div class="container m-5" v-if="watch==0">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img :src="photo" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Hola {{username}}
          </a>
        </div>
      </nav>
      <!-- <div class="row">
          <div class="col col-md-6 col-lg-3 col mb-4">
            <h5>Hola {{username}}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-6 col-lg-3 col mb-4">
            <img :src="photo" class="card-img-top" alt="img" style="height: 150px; width: 150px;">
          </div>
        </div> -->
      <br><br>
      <div class="container">
        <div class="row">
          <div class="col">
            <button class="btn btn-primary">Nuevo usuario</button>
          </div>
        </div><br><br>
        <div class="row">
          <div class="col">
            <table class="table border">
              <thead>
                <tr>
                  <th class="border">Nombre del cliente</th>
                  <th class="border">Metros consumidos</th>
                  <th class="border">Estrato</th>
                  <th class="border">Total</th>
                  <th class="border">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="border"></td>
                  <td class="border"></td>
                  <td class="border"></td>
                  <td class="border"></td>
                  <td class="border"><button class="btn btn-danger" type="button">Editar</button>
                    <button class="btn btn-danger" type="button">Eliminar</button>
                  </td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td colspan="3">no existe usuarios</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
    <!-- /PAGE -->



  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.0-alpha.4/vue.js "></script>
<script src="main.js "></script>

</html>